#tile1{
    background-image: "https://www.chevrolet.com.ar/content/dam/chevrolet/mercosur/brazil/portuguese/vdc-collections/2022/cars/cruze-sport6-rs/02-images/chevrolet-brasil-cruze-rs.jpg?imwidth=1500";
}
#tile2{
    background-image: "https://www.chevrolet.com.ar/content/dam/chevrolet/mercosur/argentina/espanol/vdc-collections/2019/crossovers-suvs/equinox/equinox/02-images/equinox-jpeg.png?imwidth=1500";
}
#title3{
    background-image: "https://www.chevrolet.com.ar/content/dam/chevrolet/mercosur/argentina/espanol/vdc-collections/2019/crossovers-suvs/equinox/equinox/02-images/equinox-jpeg.png?imwidth=1500";
}
#tile4{
    background-image: "https://www.chevrolet.com.ar/content/dam/chevrolet/mercosur/brazil/portuguese/vdc-collections/2022/cars/cruze-sport6-rs/02-images/chevrolet-brasil-cruze-rs.jpg?imwidth=1500";
}