<p></p>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Autos">
    <mat-card class="example-card" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Nuevo Cruze RS</mat-card-title>
        <mat-card-subtitle>Precio: $4.431.900</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.chevrolet.com.ar/content/dam/chevrolet/mercosur/brazil/portuguese/vdc-collections/2022/cars/cruze-sport6-rs/02-images/chevrolet-brasil-cruze-rs.jpg?imwidth=419" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Nuevo Cruze RS
          <br>
          Diseño: Visual Deportivo RS
          <br>
          Potencia: Motor Turbo de 153 CV
          <br>
          Combustible: Nafta, Tanque de combustible: 52lts
          <br>
          Conectividad: Wifi Nativo y ONSTAR
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="Camionetas">
    <mat-card class="example-card" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title>S10 HIGH COUNTRY</mat-card-title>
        <mat-card-subtitle>Precio: $11.422.900</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.chevrolet.com.ar/content/dam/chevrolet/mercosur/argentina/espanol/vdc-collections/2021/pickups-and-trucks/nueva-s10-hc/01-images/s10-high-country-flyout.jpg?imwidth=1500" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          S10 HIGH COUNTRY
          <br>
          Potencia: Motor 200 CV Serie
          <br>
          Combustible: Diesel y Tanque de combustible: 43lts
          <br>
          Transmicion: Automatica de 6V
          <br>
          Seguridad: Frenado autonomo de emergencia y ONSTAR
          <br>
          Tecnologia: Unica con Wifi
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="Deportivos">
    <mat-card class="example-card" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title>Camaro Coupe</mat-card-title>
        <mat-card-subtitle>Precio: $490.000.000</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.chevrolet.com.ar/content/dam/chevrolet/mercosur/argentina/espanol/vdc-collections/2018/performance/camaro/camaro-coupe/01-images/novo-chevrolet-camaro-coupe.jpg?imwidth=1500" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Camaro Coupe
          <br>
          Potencia: Motor 461 CV
          <br>
          Rendimiento: De 0 a 100 km/h en 4.2 sg
          <br>
          Seguridad: Suspension trasera multi-link independiente
          <br>
          Conduccion: 4 modos de conduccion
          <br>
          Combustible: Nafta y Tanque de combustible: 62lts
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>

