<mat-card class="example-card">
    <img src="../../../assets/avatar.png" width="30%" alt="">
    <h2>Somos Forman Consesionario, que contamos con una trayectoria de mas de 20 años especializados en ventas de cualquier tipo de automovil.</h2>
    <h2>Ademas contamos con los mejores precios del mercado donde usted podra pagar de la manera que se le haga mas facil su automovil, tambien tenemos los mejores servicios para su automovil, y lo guiaremos en cada una de sus consultas con la mejor atencion personalizada</h2>
    <h2>Usted nos podra encontrar en Eugenio Perticone 975-Neuquen Capital</h2>
    <h2>Tambien brindamos atencion las 24hs del dia en el 2994623312</h2>
    <h2>Para mas informacion o alguna consulta al correo formanconcesionario@hotmail.com</h2>
</mat-card>

